.places {
  display: flex;
  flex-direction: column;
  row-gap: 80px;
  padding: 92px 48px;
  max-width: 984px;  
}

@media all and (max-width: 1023px) {
  .places {
    padding: 88px 24px;
    row-gap: 73px;
  }
}

@media all and (max-width: 767px) {
  .places {
    padding: 64px 0;
    row-gap: 50px;
  }
}