.cover {
  max-width: 1184px;
  width: calc(100% + (48px*2));
  aspect-ratio: 8/5;
  display: flex;
  flex-direction: column;
  background-image: url(../../images/cover-trains.jpg);
  background-size: cover;
  position: relative;
  top: 0;
  left: 0;
}

@media all and (max-width: 1023px) {
  .cover {
    width: calc(100% + (24px*2));
  }
}

@media all and (max-width: 767px) {
  .cover {
    width: calc(100% + (16px*2));
  }  
}
